/**********************************************************
            TABLE OF CONTENTS
----------------------------------------------------------
    0. Project details and color and typography info
    1. CSS Reset
    2. Global styles
        -root
    3. Header and nav
        -global
        -sub pages
    4. Main body content
        -global
        -sub pages
    5. Footer content
        -global
        -sub pages
    6. Forms
        -sub pages
    7. Media queries
        -global
        -sub pages
************************************************************/
/***********************************************************
    0. Project details and color and typography info
--------------------------------------------
    Project: Priyadharsini Rakkan website
    Ver: 1.0
    Last Updated: 8/12/2023
   *************************************************************/
/***********************************************************
    1. CSS Reset
--------------------------------------------
   http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
************************************************************/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    box-sizing: border-box;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/***********************************************************
    2. Global styles
************************************************************/
:root {
    /* typography */
        --primary-font: 'Roboto', sans-serif;
        --fw-thin: 100;
        --fw-light: 300;
        --fw-regular: 400;
        --fw-medium: 500;
        --fw-bold: 700;
        --fw-black: 900;

    /* colors */ 
    --bg-color: #fff;
    --nav-color:#BC195C;
    --primary-color:#3E081E;
    --highlight-color:#EC78A7;
    --mild-color:#F197BC;
    --border-color:#5E0C2E;
    --secondary-color:#333;
    --gradient-color-bg:linear-gradient(#3e081e, #5e0c2e);

}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html { font-size: 10px; }
h1 {
    color: var(--bg-color);
    font-size: 4.8rem;
    line-height: 1;
}
h2 {
    font-size: 2.8rem;
    line-height: 1.1;
}
h3 {
    font-size: 2.2rem;
    line-height: 1.5;
}
h4{
    font-size: 1.8rem;
    line-height: 1.5;
}
p {
    font-size: 1.6rem;
    line-height: 1.5;
}
li{font-size: 1.4rem;}
a{
    font-size: 1.6rem;
    line-height: 1.5;
    text-decoration: none;
}
a.button{
    background: linear-gradient( var(--nav-color), var(--border-color));
    border-radius: 10px;
    color: var(--bg-color);
    font-size: 1.5rem;
    border: 1px solid var(--bg-color);
    padding: 1rem;
    cursor: pointer;
    display: inline-block;
    text-shadow: 3px 1px 1px var(--border-color);
}
a.button:hover {
    background-color: var(--highlight-color);
    border: 1px solid var(--highlight-color);
    color:var(--highlight-color);
}  
img{
    height: auto;
    margin: auto;
    max-width: 100%;
}
/***********************************************************
        3. Header and nav
************************************************************/
.hero{
    height: 420px;
    width:100%;
}
.heroProject{
    height: 70px;
    width:100%;
}
.mainNav{
    background-color: var(--nav-color);
    display: flex;
    justify-content: space-between;
    height:70px;
    position: relative;
    width:100%;
}
.logo{padding-top: .5rem;}
.menu{
    position:absolute;
    right:0px;
    top:70px;
    background-color: #BC195C;
    width:100%;
    display:flex;
    flex-direction: column;
    padding:auto 1em;
    row-gap: 2rem;
    transform: translateX(-100%);
    transition: all 0.3s ease-in-out;
}
.menuItem{
    padding:0 1rem;
    margin:0 1rem;
    display:flex;
    justify-content: center; 
}
.menuLink{
    color:var(--bg-color);
    padding:auto 1em; 
} 
.bar{
    height:2px;
    width:15px;
    background: var(--bg-color);
    margin: 2.5px 0;
    align-self: center;
    transition: all 0.3s ease-in-out;
}  
.hamburger{
    display: flex;
    flex-direction: column;
    cursor: pointer;
    justify-content: center;
    margin: 1.2em;
}
.menuOpen{
   transform: translate(0);
   z-index: 1;
}
.hamburgerOpen .bar:nth-child(1){transform: translateY(7px) rotate(45deg);}
.hamburgerOpen .bar:nth-child(2){opacity:0;}
.hamburgerOpen .bar:nth-child(3){transform: translateY(-7px) rotate(-45deg);}
 .mainPart, 
 .portfolioPart,
 .subPageAboutContent,
 .porfolioContent,
 .subFeatureContent,
 .containerContactPage,
 .containerProject{
    width: 100%;
    max-width: 320px;
    margin: 0 auto;
    padding: 1.5rem;
}
.heroBody{
    background-color: var(--primary-color);
    position: relative;
    height: 370px;
    padding: auto 1.5rem;
}
/* .heroText{
    padding-top:2.5em;
} */
.heroInner{
    display: flex;
    flex-direction: column;
    /* row-gap: 4em; */
    margin:0 3rem;
    padding:1rem 3.5rem;
    height: 350px; 
}
.mainHeading{
    color: var(--bg-color);
    text-transform: capitalize;
    font: var(--primary-font);
    font-size: 4.55rem;
    text-align: center;
    padding-top: 0.5em;  
}
.subHeading{
    color: var(--highlight-color);
    font-size: 2rem;
    text-align: center;
    padding: .75em .5em;
    line-height: 1.25;
}
.social{
    display: flex;
    justify-content: center;
    align-items: center;
}
.socialMedia{
    background: linear-gradient( var(--nav-color), var(--border-color));
    margin-top: 1.5rem;
    border: solid 1px var(--bg-color);
    border-radius: 1rem;
    width:275px;
    /* align-items: center; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
}
.socialMedia h2{
    text-align: center;
    color: var(--mild-color);
}
.media{
    display: flex;
    column-gap: .75em;
    padding-left: .5em;
    padding-right: .5em;
    padding-bottom: .5em;
}
.email, .gitHub, .linkedIn{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 0.2em;
}
.email a, .gitHub a, .linkedIn a{
    color: #fff;
    border:solid 1px var(--border-color);
    border-radius: 50%;
    background-color: var(--border-color);
    padding:.5em;
}
.email a:hover,
.gitHub a:hover,
.linkedIn a:hover{color: var(--highlight-color);}
.email p, .gitHub p, .linkedIn p{color: #fff;}
.email p:hover,
.gitHub p:hover,
.linkedIn p:hover{color:var(--highlight-color);}
/* .heroBtn{
    margin: 2rem 5em;   
    text-align: center;
} */
/***********************************************************
    4. Main body 
************************************************************/
.mainPart{background-color: var(--bg-color);}
.homepageIntro{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1.5rem;
}
.homepageIntro .title,
.subPage .title{
    color:var(--border-color);
    text-align: center;
}
.mainBody{
    display: flex;
    flex-direction: column;  
    padding-top: 1rem;
    row-gap: 1rem;
}
.featureImg{padding-top: 2.2rem;}
.portfolioSection{
    background-color: var(--mild-color);
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}
.portfolioGrid{padding-top: 1rem;}
.portfolioPart{
    padding:0 1.5rem;
    margin: 0 auto;
    max-width: 320px;
}
.portfolioPart h3{
    color:var(--border-color);
    text-align: center;
    font-size:2.4rem;
}
.featureWorks{
    text-align: center;
    padding-bottom: 1rem;
}
.step1, .step2, .step3{padding-bottom: 1.5rem;}
.companyName{
    text-align: center;
    padding: 1rem;
}
.companyName a{
    color: var(--border-color);
    text-align: center;
}
.websiteOverlay {
    margin: 0;
    padding: 0;
}
.myPortfolioWebsites {
    border: 4px solid var(--bg-color);
    box-shadow: 0 0 5px#333;
    height: auto;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: relative;
    width: 100%;  
}
.myPortfolioWebsites img {
    display: block;
    height: auto;
    max-width:100%;
    position: relative;   
    width:100%; 
}
.myPortfolioWebsites .mask{
    align-items: center;
    background: #ccc;
    color: red;
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    min-height: 100%;
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    transition: opacity 0.25s;
    width: 100%;
}
.myPortfolioWebsites .mask:hover{opacity: 1;}
.overlayBlur {backdrop-filter: blur(5px);}
.myPortfolioWebsites .mask>* {
    transform: translateX(-20px);
    transition: transform 0.25s;
}
.myPortfolioWebsites .mask:hover>* {transform: translateY(0);}
a.viewProject{color: var(--bg-color);}
a.viewProject:hover{color: var(--border-color);}
i.fa.fa-link{
    align-items: center;
    /* border: solid 1px transparent; */
    color: var(--bg-color);
    display: flex;
    justify-content: center;
    /* width:44px; */
  /* border-radius: 6px; */
  /* padding: 6px 10px; */
  /* margin:6px 10px;  */
}
i.fa.fa-link:hover{
    color: var(--border-color);
    /* border: solid 1px var(--border-color); */
    transition: opacity 0.2s 0s ease-in-out;
}
.viewPortfolio {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 1rem;
}
.subFeature{
    background-color: var(--border-color);
    opacity: 83%;
    color:var(--bg-color);
    padding:2rem;
    text-align: center;
}
.subFeatureContent{padding:0 5.5rem;}
.subFeatureIcon{font-size: 5rem;}
.subFeatureProcess{
    display: grid;
    margin-top: 2rem;
    row-gap: 3rem;
}
footer{
    padding: 2rem;
    background-color: var(--primary-color);
    text-align: center;
}
.footerBottomLinks a{color :var(--highlight-color);}
.copyright,.copyright a{
    color: var(--bg-color);
    font-size: 1.3rem;
}

/***********************************************************
    4.A Sub Page - About
************************************************************/
.heroTextSubpage{
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/***********************************************************
    4.B Sub Page - Portfolio
************************************************************/

/***********************************************************
    4.B.1 Sub Page - Portfolio - CWC & Framework
************************************************************/
.projectGrid{display: grid;}
.projectGridContent {
    order: 2;
    padding-top: 2rem;
}
.projectGridImage {order: 1;}
.projectGridContent h2{line-height: 1;}
.projectGridContent h3{
    color: var(--highlight-color);
    text-decoration: underline;
}
.projectGridContent h4{color: var(--nav-color);}
.projectGridContent li{line-height: 1.5em;}
.projectSmallIcons{
    display: block;
    text-align: center;
    /* margin-top: 2rem; */
}
.projectSmallIcons img{
    width: 100px;
    height: 81px;
    margin: 0;
    padding: 0;
}
.slideshow {
    position: relative;
    width: 100%;
    min-height: 260px;
}
.slideshow img{
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
.slideshow img.mainPortfolioImage.active {opacity: 1;}
.containerModal{
    position: relative;
    background-color: #fff;
}
.imageModalContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    padding: 10px;
}
.imageModalContainer .imageModal{cursor: pointer;}
.imageModal :hover img {transform:  scale(1.1);}
.popupImage {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    max-width: 100vw;
    height: 100%;
    max-height: 100vh;
    z-index: 100;
    /* display: none; */
}
.popupImage span {
    position: absolute;
    top: 0;
    right: 10px;
    color: #fff;
    font-size: 60px;
    font-weight: bold;
    cursor: pointer;
}
.popupImage img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 1rem;
    max-width: 762px;
    object-fit: cover;
    max-height: 600px;
    width: 100%;
    height: auto;
}
.websiteLink h3{
    text-align: center;
    color: var(--border-color);
}
.websiteLink p{
    text-align: center;
    color: #EC78A7;
    font-weight: bold;
    cursor: pointer;
}

/***********************************************************
    4.C Sub Page - Contact
************************************************************/
.containerContactPage{
    margin:0 auto;
    width:100%;
    padding: 1rem 2rem;
}
form{
    border: solid 0px #000;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    min-height: 200px;
}
input[type=text], input[type=email], textarea {
    border: solid 1px var(--primary-color);
    border-radius: 0.5rem;
    color: var(--border-color);
    padding: 0.75rem 0.5rem;
    font-family: var(--primary-font);
    font-size: 1.6rem;
    margin-bottom: 12px;
    width: 100%;
}
input:focus, textarea:focus, select.contactSelect:focus{
    outline: solid 1px var(--primary-color);
    border: solid 1px var(--primary-color);
    box-shadow: 0 0 3px var(--primary-color);
}
textarea{
    min-height: 8em;
    display: block;
}
label{
    color: var(--secondary-color);
    display: block;
    font-size: 1.6rem;
    line-height: 1.5;
}
legend{
    font-size: 2.2rem;
    color:var(--primary-color);
    margin-bottom: 10px;
}
fieldset.contentSelect{border: none;}
select.contactSelect{
    background-color: var(--bg-color);
    border: solid 1px var(--primary-color);
    border-radius: 8px;
    font-family: var(--primary-font);
    font-size: 1.4rem;
    padding: 0.8rem 0.6rem;
    margin-bottom: 12px;
}
option{color: var(--primary-color);}
input.contactBtn{
    background: var(--gradient-color-bg);
    border: solid 1px var(--bg-color);
    border-radius: 8px;
    color: var(--bg-color);
    font-size: 1.5rem;
    letter-spacing: 0.5px;
    padding: 14px 0px;
    text-shadow: 3px 1px 1px var(--secondary-color);
    width: 14rem;
}
/***********************************************************
    4. Media Query
************************************************************/
/* Small devices (landscape phones, 576px and up)*/
@media screen and (min-width: 576px) {
    .mainPart, 
    .portfolioPart,
    .subFeatureContent,
    .porfolioContent,
    .subPageAboutContent,
    .containerContactPage{max-width: 500px;}
    .heroInner{
        padding-top: 2.5em;
        row-gap: 2em;
    }
    form { display: block; }
    .slideshow{
        min-height:330px;
        align-self: center;
    }
    .containerProject{max-width: 80%;}
    .projectGridImage{
        display: grid;
        grid-template-columns: 1.5fr 1fr;  
        justify-content: center; 
        align-items: center;
    }
    .projectGridContent .subcat{
        display: flex;
        flex-direction: row;
        column-gap: 2.5em;
    }
    .websiteLink{grid-column: 1/-1;}

}
/* Medium devices (tablets, 768px and up)*/
@media screen and (min-width: 768px) {
    h2{line-height: 1.1;}
    .hamburger{display: none;}
    .mainNav{justify-content: none;}
    .menu{
        z-index:1;
        transform: translateX(0);
        display:flex;
        flex-direction: row;
        position:relative;
        left:0px;
        top:20px;
        justify-content: space-between;
        align-items: center;
        padding: auto 1rem;
    }
    .mainBody{flex-direction: row;}
    .mainPart, 
    .portfolioPart,
    .subFeatureContent,
    .porfolioContent,
    .subPageAboutContent{max-width: 700px;}
    .portfolioGrid{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 2em;
    }
    .containerContactPage{
        width: 100%;
        margin: 0 auto;
        border: solid 0px pink;
        padding: 0.5rem 2rem;
        max-width: 660px;
    }
    .subPortfolioFeatures{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 3rem;
    }
    .subFeatureProcess{
        grid-template-columns: repeat(3, 1fr);
        column-gap: 3rem;   
    }
    /* .portfolioGrid{
        display: flex;
        flex-wrap: wrap;
        gap: 2rem;
    }
    .portfolioGrid > *{
        flex: 1 1 20rem;
    } */
}
/* Large devices (desktops, 960px and up)*/
@media screen and (min-width: 960px) {
    h2{line-height: 1.5;}
    .mainPart,
    .portfolioPart,
    .subFeatureContent,
    .porfolioContent,
    .subPageAboutContent{
        border: solid 0px pink;
        max-width: 860px;
    }
    .containerProject{max-width: 90%;}
    article.subFeatureContent{gap: 8rem;}
    .portfolioGrid{column-gap: 4em;}
    .projectGridContent p,
    .projectGridContent h3{padding-left: 1em;}
    .projectGrid{
        grid-template-columns: 2.65fr 1.5fr;
        column-gap: 1em;
    }
    .slideshow{min-height: 400px;}
}
/* XL devices (large desktops, 1100px and up)*/
@media screen and (min-width: 1100px) {
    .mainPart,
    .portfolioPart,
    .subFeatureContent,
    .porfolioContent,
    .subPageAboutContent{
        border: solid 0px pink;
        max-width: 992px;
    }
    .portfolioGrid{column-gap: 6em;}
    /* .portfolioGrid > * {
        flex: 1 1 30rem;
    } */
    .slideshow {min-height: 460px;}
}
/* XXL devices (large desktops, 1400px and up)*/
@media screen and (min-width: 1200px) {
    .mainPart,
    .portfolioPart,
    .subFeatureContent,
    .porfolioContent,
    .subPageAboutContent{
        border: solid 0px pink;
        max-width: 1100px;
    }
    .portfolioGrid{column-gap: 10em;}
    section.feature.grid-row {grid-template-columns: 2fr 1fr;}
    .slideshow {min-height: 500px;}   
}