:root{
    --primary-color:#FF4E6A;
    --color2:#9EA8D1;
    --color3:#D9C7A7;
    --color4:#B4B4B4;
}
#eventCalendar{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.currentDateContainer{
    background-color: #FF4E6A;
}
.calendarGrid{
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap:5px;
}
.calendar-day{
    display: flex;
    min-height: 80px;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #f9f9f9;
    align-items: center;
    justify-content: center;
}
.calendar-day:hover,#prevMonth,
#nextMonth,#saveEventBtn{
    background-color: #FF4E6A;
    color: #ddd;
}
.calendar-day h5{
    font-size: 1rem;
}
.event{
    background-color: #ffecb3;
    padding: 2px 4px;
    border-radius: 3px;
    font-size: 0.8rem;
    margin-top: 3px;
    cursor: pointer;
}
.calendar-weekdays {
    display: grid !important;
    grid-template-columns: repeat(7, 1fr);
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
    background: #f0f0f0;
    padding: 10px 0;
    border-radius: 5px;
}

.calendar-weekdays div {
    padding: 5px 0;
}
